//- doctype html
//- html
//-   head
//-     style
//-       include ../static/style.css
//-     title AuroraYogaAcademy  
//-   body
//-     nav#navbar
//-         ul  
//-             div#logo 
//-               img(src="../static/icon.ico", alt="")
//-               | AYA
//-             li #[a(href="/") Home ]
//-             li #[a(href="/") About ]
//-             li #[a(href="/") Services ]
//-             li #[a(href="/") Class Info ]
//-             li #[a(href="/") Contact Us ]
//-     section#introSection 
//-         div#intro Welcome to Aurora Yoga Academy 
//-         div#detail "Yoga is a mirror to look at ourselves from within"
//-     section#missionSection 
//-         h2 Why to do yoga? 
//-         div.card-collection
//-           div.card 
//-             h3 To enable the student to have good health.
//-             div.card-box 
//-               div.card-img 
//-                 img(src="../static/1.png", alt="img loading error")
//-               div.card-content
//-                 p Yoga techniques provide improved attention in studies, better stamina and co-ordination for sports and a heightened awareness and balanced attitude for social activity.
//-           div.card 
//-             h3 To possess emotional stability
//-             div.card-box 
//-               div.card-img 
//-                 img(src="../static/2.png", alt="img loading error")
//-               div.card-content
//-                 p Yoga education could help to equip oneself with basic knowledge about one’s personality, to learn to handle oneself well in all life situations
//-           div.card 
//-             h3 To integrate moral values.
//-             div.card-box 
//-               div.card-img 
//-                 img(src="../static/3.png", alt="img loading error")
//-               div.card-content
//-                 p Yoga education can enhance all the activities of the students, be it academic or sport or social. 
//-     section#sponsorsSection
//-         h1 Our Sponsors
//-         div#sponsors
//-                 img(src="../static/hp.png", alt="img loading error")
//-                 img(src="../static/apple.png", alt="img loading error")
//-                 img(src="../static/micro.png", alt="img loading error")
//-                 img(src="../static/visa.png", alt="img loading error")


         
    
//-     section#footer 
//-         p Copyright © 2022 AuroraYogaAcademy.com         
//-     script
//-       include ../static/index.js